
.login{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-img{
    width: 400px;
    margin-top: 50px;
}

.button-login{
    width: 100px;
    margin-top: 150px;
}

.nav-img{
    width: 150px;
}

.select{
    width: 300px;
}

.margin-buttons{
    margin-left: 10px;
}

.width-button{
    width: 80px;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
